@page "/cart"

@using System.Diagnostics;
@inject CoffeeServices CoffeeServices
@inject OrderItemsServices OrderItemsServices
@inject AddinsServices AddinsServices
@inject CustomerServices CustomerServices
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar

<MudTable Items="@Elements"
          Dense=true
          Bordered=true
          Striped=true
          Style="margin: 30px">

    <ToolBarContent>
        <MudText Typo="Typo.h6">Cart</MudText>
    </ToolBarContent>

    <HeaderContent>
        <MudTh>Item Name</MudTh>
        <MudTh>Item Type</MudTh>
        <MudTh>Price (Rs)</MudTh>
        <MudTh>Quantity</MudTh>
        <MudTh>Total</MudTh>
        <MudTh>Action</MudTh>
    </HeaderContent>

    <RowTemplate>
                <MudTd DataLabel="Item Name">@context.Name</MudTd>

            <MudTd DataLabel="Item Type">@context.ItemType</MudTd>

            <MudTd DataLabel="Price">@context.Price</MudTd>

            <MudTd DataLabel="Quantity">
                <MudIconButton Icon="@Icons.Material.Filled.Remove" aria-label="subtract" OnClick="@(() => QuantityUpdate(context.OrderItemID, "sub"))"></MudIconButton>
                <span>
                    @context.Quantity
                </span>
            <MudIconButton Icon="@Icons.Material.Filled.Add" aria-label="add" OnClick="@(() => QuantityUpdate(context.OrderItemID, "add"))"></MudIconButton>
        </MudTd>

        <MudTd DataLabel="Price">Rs.@context.TotalPrice</MudTd>

            <MudTd DataLabel="Action">
                <MudIconButton Color="Color.Error" Icon="@Icons.Material.Filled.Delete" aria-label="delete" OnClick="@(() => handleDeleteCartItem(context.OrderItemID))">
                </MudIconButton>
            </MudTd>
        </RowTemplate>
    </MudTable>

    <MudSpacer />
        

    <MudText Style="margin: 30px" Typo="Typo.subtitle1">Total Price: <b>Rs.@_totalAmount</b></MudText>
    
    <MudText Style="margin: 0 30px" Typo="Typo.subtitle1">Enter phone number to check out:</MudText>
    <MudSpacer/>
    <MudTextField Style="margin: 0 30px 30px 30px" @bind-Value="_phone" Variant="Variant.Outlined"></MudTextField>


<MudContainer Style="margin: 0 0 30px 10px">
    <MudButton Variant="Variant.Filled" OnClick="clearAllCartData" Class="mr-3">Clear</MudButton>
    <MudButton Variant="Variant.Filled" OnClick="customerCheck" Color="Color.Primary">Checkout</MudButton>
</MudContainer>

@code {
    [CascadingParameter]
    private GlobalState _globalState { set; get; }

    private double _totalAmount { set; get; } = 0;

    private string _phone { set; get; }

    private string _message { set; get; } = "";

    private IEnumerable<OrderItem> Elements = new List<OrderItem>();

    private Coffee _coffee { set; get; }

    private double calculateTotalAmount()
    {
        double totalAmount = 0;

        foreach (var item in Elements)
        {
            totalAmount += item.TotalPrice;
        }
        return totalAmount;
    }

    private void clearAllCartData()
    {
        _globalState.OrderItems.Clear();
        _totalAmount = calculateTotalAmount();
        _message = "";
        Snackbar.Add("Cleared", Severity.Info);
    }

    private void handleDeleteCartItem(Guid orderItemID)
    {
        OrderItemsServices.DeleteItemInOrderItemsList(_globalState.OrderItems, orderItemID);
        _totalAmount = calculateTotalAmount();
    }

    private void QuantityUpdate(Guid orderItemID, string action)
    {
        OrderItemsServices.QuantityOfItemList(_globalState.OrderItems, orderItemID, action);
        _totalAmount = calculateTotalAmount();
    }

    protected override void OnInitialized()
    {
        Elements = _globalState.OrderItems;
        _globalState.AppBarTitle = "Cart";
        _totalAmount = calculateTotalAmount();
    }

    private void customerCheck()
    {
        if (_globalState.OrderItems.Count() == 0)
        {
            _message = "Cart Is Empty!!!";
            Snackbar.Add(@_message, Severity.Error);
            return;
        }
        if (string.IsNullOrEmpty(_phone))
        {
            _message = "Please provide Phone Number";
            Snackbar.Add(@_message, Severity.Error);
            return;
        }
        Customer customer = CustomerServices.getCustomerFromPhone(_phone);
        if (customer == null)
        {
            NavigationManager.NavigateTo("/register");
            Snackbar.Add("User Not Registered!", Severity.Warning);
        }
        else
        {
            NavigationManager.NavigateTo($"/invoice/{customer.CustomerPhone}");
        }
    }
}
